* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

ul {
  margin: 0;
  padding: 0;
  color: white;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 0 0 0 8px;
  background: #424242;
  font-size: 20px;
  transition: 0.2s;
  list-style-type: none;
  line-height: 60px;
  font-weight: 300;
  display: flex;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #373737;
}

ul li:hover {
  background: #505050;
}

ul li:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  background-color: #fdd000;
  padding: 20px 40px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.header h2 {
  font-size: 34px;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.add input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 600;
  color: #505050;
}

input:focus {
  outline: none;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: 900;
}

.addBtn:hover {
  background-color: #bbb;
}

.container {
  padding: 50px 80px;
  width: 800px;
  margin: 0 auto;
}

.add {
  width: 60%;
  margin: 20px auto;
  padding-bottom: 50px;
}

h2 {
  font-size: 30px;
}

.item {
  flex: 46%;
}

.edit {
  flex: 7%;
  text-align: center;
}

.remove {
  flex: 7%;
  text-align: center;
}

.checkbox {
  flex: 10%;
  text-align: center;
  transition: 0.3s;
  font-size: 26px;
  background: #666;
  border-bottom: 1px solid rgba(85, 85, 85, 0.604);
}

.icons {
  color: #bbb;
  transition: 0.3s;
}

.icons-left {
  padding: 10px 0;
  border-radius: 5px;
}

ul li:last-child .checkbox {
  border-bottom-right-radius: 5px;
}

.icons:hover {
  background: #bbb;
}

.checkbox:hover {
  background: #bbb;
}

.checkbox:hover .icons {
  color: #555;
}

.edit .icons:hover {
  color: #eebf02;
}

.remove .icons:hover {
  color: #df0101;
}

.item {
  margin-right: 10px;
}

.checkbox.active {
  background: #bbb;
}

.checkbox.active .icons {
  color: rgb(13, 153, 8);
}

.editInput {
  flex: 30%;
}

.hidden {
  display: none;
}

.editInput input {
  width: 95%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #505050;
  padding-top: 14px;
}

.edit i,
.remove i {
  padding: 10px;
}
